.idea
.env
test_trainer
**/__pycache__/**

decoder
encoder
logs

bert-decoder
bert-encoder
bert-logs
dataset
fasttext_model
bert-tokenizer-bangla
bert_logs
bert-base-uncased-bangla
backup-bert-base-uncased-bangla
